/* Reset CSS */
html, body, header, nav, ul, li, div, h1, p, a, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #333;
    --secondary-color: #FFFFFF;
    --font-family: 'Source Sans Pro', sans-serif;
}

body {
    font-family: var(--font-family);
    line-height: 1.6;
    background-color: #f0f0f0;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: url("images/headphones_hero_1.jpg") no-repeat center center/cover;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 0;
}

.logo img {
    max-width: 150px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
}

.nav-links li {
    margin-left: 20px; /* Adjust margin to separate items */
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #FF6565;
}

.toggle-menu {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
    margin-left: auto; /* Push toggle menu icon to the far right */
}

.hero {
    background-image: url("images/headphones_hero_1.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 200px 0;
}

.hero .container {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF6565;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity 0.3s ease;
}

.btn:hover {
    opacity: 0.9;
}

/* Mobile Menu Toggle */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: flex-end; /* Align items to the right for mobile */
    }

    .nav-links.active {
        display: flex;
    }

    .toggle-menu {
        display: block;
    }
}
