
body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex: auto;
    flex-direction: row;
}

article {
    flex: 2;
    overflow-y: auto; /* allows for vertical scrolling */
}

aside {
    flex: 1;
    overflow-y: auto; /* allows for vertical scrolling */
}
